
.current {

}

.info.name {
  display: none;
}

.company {
  margin: 20px;
  border: 10px dashed #AAAACC;
  padding: 30px;
  border-radius: 30px;
  max-width: 400px;

  display:inline-block;
  
  .stats {
/*
    background-color: #44BBFF;
    padding: 10px; 
*/
  }

}

.tags > span {
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #0088BB;
  background-color: #33AAEE;
  border-radius: 3px;
  padding:3px;
  text-decoration: none;
//  display: inline-block;
  
}



