
.info.name {
  display: none;
}

#content {
  padding: 20px;
}

.redundant {
  display: none;
}

.company {
  border: 10px dashed #AAAACC;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 30px;
  max-width: 400px;
 
  &:focus {
    border-color: #22DD44;
  }

  &.current {
    border-style: solid;
  }

//  display:inline-block;
  
  .stats {
/*
    background-color: #44BBFF;
    padding: 10px; 
*/
  }

  .logo img {
    max-height: 80px;
  }


}

.tags > span {
  margin-right: 5px;
  margin-top: 5px;
  border: 1px solid #0088BB;
  background-color: #33AAEE;
  border-radius: 3px;
  padding:3px;
  text-decoration: none;
  display: inline-block;  
}



