
.current {

}

.info.name {
  display: none;
}

.company {
  margin: 20px;
  border: 10px dashed #AAAACC;
  padding: 30px;
  border-radius: 30px;
  max-width: 400px;

  display:inline-block;
  
  .stats {
/*
    background-color: #44BBFF;
    padding: 10px; 
*/
  }

}