header {

  progress {
    padding:10px;
    width:100%;
  }

  progress, #hint, #solution {
    display:none;
  }
  
  &.game_in_progress {
    progress, #hint, #solution {
      display:block;
    }

    #start {
      display:none;
    }
  } 	    


}